<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  
  <title>预约挂号系统</title>

  <link href="css/index_style.css" type="text/css"  rel="stylesheet">
</head>

<body id="index_body">
  <div id="header_index" >
    <h1>预约挂号系统</h1>
  </div>
  <div style="height: 90%; position:absolute;width:100%;top: 10%;">
    <div id="patient_choice">
      <a id="patient_btn" href="/login_patient" style="top: 50%;">我是病人</a>
    </div>
    <div id="doctor_choice">
      <a id="patient_btn" href="/login_doctor" style="top: 50%;">我是医生</a>
    </div>

  </div>
</body>
</html>